
.google-sans-flex-title {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 150,
    "GRAD" 100,
    "ROND" 0;
  color: #6b00ed;
  padding-left: 2rem;
  padding-top: 1.5rem;
}

.google-sans-flex-title:hover {
  color: #53179c;
}

.a {
  padding-left: 2rem;
  padding-right: 2rem;
}